.page-header > img {
    height: 150px;
    border-radius: 100px;
    box-shadow: 0 0 7px #666;
    margin-left: 7%;
    margin-bottom: 2%;
}

.page-header > * {
    display: inline-block;
    vertical-align: top;
    font-style: normal;
}

.page-header > .info {
    margin-left: 15%;
    text-align: center;
}

.table > thead > tr > th {
    text-align: center;
    vertical-align: middle;
}

#study.table > tbody > tr > td:first-child {
    font-weight: normal;
}

#study.table > tbody > tr > td:nth-child(2) {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

.table > tbody > tr > td {
    text-align: center;
    font-weight: bold;
}

.content > p,
.text > p {
    text-align: justify;
}

.content > p:first-letter,
.text > p:first-letter {
    margin-left: 2em;
}

.center {
    text-align: center;
}

div.col-md-8 {
    text-align: left;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding: 0 20px;
}

.content > #gallery {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.content > #gallery > .item {
    flex-basis: 22%;
    text-align: center;
    margin: 15px 0;
}

.content > #gallery > .item > img {
    max-width: 100%;
    cursor: pointer;
}

.nav > li:hover > a {
    text-decoration: none;
    background-color: #eee;
}

.nav > li.active:hover > a {
    background-color: #337ab7;
}

#currentHistory > tbody > tr > td:first-child,
#allTimeHistory > tbody > tr > td:first-child {
    text-align: left;
}

#lightBox {
    background-color: rgba(0, 0, 0, .65);
    height: 100vh;
    width: 100vw;
    opacity: 1;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 9999;
}

#lightBox .fullPhoto {
    position: relative;
    margin: 0 auto;
    height: 90%;
}

#lightBox .fullPhoto img {
    border: 4px solid white;
    display: block;
    max-width: 90%;
    max-height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

#lightBox .fullPhoto #photo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

#lightBox .fullPhoto #next-photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -100vw;
    opacity: 0;
}

#lightBox .fullPhoto #prev-photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100vw;
    opacity: 0;
}

#lightBox .titlePhoto {
    position: relative;
    display: block;
    height: 10%;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.titlePhoto .titleContent {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.titleContent .titleText {
    color: white;
    margin: 10px;
}

.titleContent #prevButton {
    transform: rotate(180deg);
}

#lightBox #modal-window {
    position: relative;

    top: 50%;
    transform: translateY(-50%);
}

#modal-window #modal-window-content {
    width: 300px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin: 0 auto;
}

#modal-window-content #content-message {
    color: black;
    text-align: center;
    padding: 40px;
}

#modal-window-content #button-ok {
    left: 60px;
    position: relative;
    margin: 10px;
    width: 100px;
}

#modal-window-content #button-fail {
    margin: 10px;
    width: 100px;
}

#dropdown {
    position: absolute;
    top: 38px;
    height: auto;
    width: 125px;
    background-color: #eeeeee;
    border-radius: 0 0 5px 5px;
    padding: 0 0 5px;
}

#dropdown > ul {
    margin-left: -25px;
}

#dropdown > ul > li {
    list-style-type: none;
    margin: 6px 0;
}

.datePicker {
    position: absolute;
    top: 464px;
    height: auto;
    width: 206px;
    left: 298px;
    background-color: #eeeeee;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 0 6px 1px #66afe9;
}

.datePicker > #year {
    position: relative;
    float: right;
    width: 75px;
    margin: 4px 4px;
    height: 30px;
}

.daysGrid > .tableHeader > td {
    font-style: normal;
    font-weight: bold;
}

.datePicker > #month {
    position: relative;
    margin: 4px 4px;
    width: 115px;
    float: left;
    height: 30px;
}

.datePicker > .daysGrid {
    position: relative;
    width: 100%;
    margin: 4px 0;
}

.daysGrid > tr + tr > td:hover {
    border-radius: 6px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.daysGrid > tr > td {
    text-align: center;
}

.errorPlaceholder {
    position: absolute;
    right: 100px;
    top: 17px;
    background-color: white;
    padding: 5px;
    color: #a94442;
}

.popover {
    position: absolute;
    top: -27px;
    left: 600px;
    background-color: #eeeeee;
    display: block;
    max-width: 400px;
    opacity: 0;
}

p.validate-message {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    line-height: 25px;
    background-color: #f2dede;
}

p.correct-responses {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    line-height: 25px;
}

a.btn.btn-default {
    margin-top: 5px;
    margin-bottom: 20px;
}
.blog-record {
    display: block;
    margin: 20px 0;
    clear: both;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background-color: white;
    color: black;
}

.blog-footer {
    position: relative;
    height: 25px;
}

.blog-footer > .blog-author {
    position: absolute;
    left: 0;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    color: #777;
    box-sizing: border-box;
}

.blog-footer > .blog-date {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    color: #777;
    box-sizing: border-box;
}

.blog-footer > .blog-actions {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    color: #777;
    box-sizing: border-box;
}

.blog-topic {
    clear: both;
    padding: 5px;
    font-weight: 300;
    line-height: 1.4;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    font-size: 21px;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.blog-content {
    position: relative;
    padding: 5px;
}

.blog-photo {
    float: left;
    width: 21%;
    height: 60%;
    padding: 5px;
}

.blog-message {
    max-width: 100%;
}

.blog-photo > img.img-thumbnail {
    max-height: 100%;
    max-width: 100%;
}

.blog-message > p::first-letter {
    margin-left: 2em;
}

.blog-message > p {
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.user-banner {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.blog-comments {
    background-color: grey;
    position: relative;
    border: solid;
}

.blog-comments .blog-comment {
    position: relative;
    margin: 10px 0;
    display: block;
    clear: both;
}

.blog-comments .blog-comment .blog-comment-text {
    padding: 5px;
}

.blog-comments .blog-comment .blog-comment-footer {
    padding: 5px;
}


.user-info {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    color: #fff;
}

.user-info > a {
    color: orange;
    text-decoration: underline;
}

#time {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    color: #fff;
}


.blog-message > p {
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
    background: url("/public/img/proxy.jpg");
}

.blokkok {
    margin-top: 10px;
    margin-left: 4%;
    height:auto;
    width: 90%;
    font-size: 15px;
    padding: 20px;
    background: 20px;
    background: rgba(204,204,204,0.6);
    border: 3px solid #aaaaaa;
    border-radius: 10px;
    -moz-border-radius:15px;
    transition: all 0.4s ease-in-out;
}

.blokkok > .container{
    color: black;
}

.lostablos{
    font-size: 18px;
    text-align: center;
}
.lostablos li{
    display: inline-block;
    margin: 0 40px;
}
.lostablos li:hover{
    color: aqua;
}
.lostablos img{
    margin-left: 30px;
    align-items: center;
    width: 200px;
    height: 200px;
}

.lostablos h1{
    font-family: clara;
    font-size:30px;
    color: gold;
    margin-top: 30px;
    margin-bottom: 30px
}

.ff{
    color: white;
}

.nav > li:hover > a {
    text-decoration: none;
    background-color: #695ca1;
}

.nav > li.active >a {
    background-color: #7a0c31;
}
.nav > li.active:hover > a {
    color:white;
    background-color: #5a1043;
}

.nav > li > a {
    background-color: white;
    color: black;
}